// color variants
@import 'themes-vars.module.scss';
@import 'loader.module.scss';

// third-party
@import '~react-perfect-scrollbar/dist/css/styles.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

$primary-font:  sans-serif;

* {
    font-family: $primary-font;
  }

.opacitated {
    opacity: 0.75;
    transition-duration: 0.5s;
    &:hover {
        opacity: 1;
    }
}

// ==============================|| LIGHT BOX ||============================== //
.slick-arrow:before {
    color: $grey500;
}

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
    z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
    margin-right: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
    .ps__rail-y {
        &:hover > .ps__thumb-y,
        &:focus > .ps__thumb-y,
        &.ps--clicking .ps__thumb-y {
            background-color: $grey500;
            width: 5px;
        }
    }
    .ps__thumb-y {
        background-color: $grey500;
        border-radius: 6px;
        width: 5px;
        right: 0;
    }
}

.scrollbar-container.ps,
.scrollbar-container > .ps {
    &.ps--active-y > .ps__rail-y {
        width: 5px;
        background-color: transparent !important;
        z-index: 999;
        &:hover,
        &.ps--clicking {
            width: 5px;
            background-color: transparent;
        }
    }
    &.ps--scrolling-y > .ps__rail-y,
    &.ps--scrolling-x > .ps__rail-x {
        opacity: 0.4;
        background-color: transparent;
    }
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0%,
    20%,
    53%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }
    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -5px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -7px, 0);
    }
    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }
    90% {
        transform: translate3d(0, -2px, 0);
    }
}

@keyframes slideY {
    0%,
    50%,
    100% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(10px);
    }
}

@media only screen and (max-width: 900px) {
    #mobile-frame {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    #editor-container{
        min-height: 700px;
    }
}

@keyframes slideX {
    0%,
    50%,
    100% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
}

#frame-style {
    // zoom: 0.75;
    // -moz-transform: scale(0.75);
    // -moz-transform-origin: 0 0;
    // -o-transform: scale(0.75);
    // -o-transform-origin: 0 0;
    // -webkit-transform: scale(0.75);
    // -webkit-transform-origin: 0 0;
}

.btn-option {
    font-size: 2em !important;
}

#revue-embed {
    display: none;
}

.zooming {
    transition: all .2s ease-in-out;
}

.zooming:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.new-category {
    font-size: 8em;
}

.new-project-container {
    height: 100vh;
    position: relative;
    padding-bottom: 10%;
    background: linear-gradient($primary800, $primaryMain);
}

.new-project-input {
    font-size: 5em;
    font-family: $primary-font;
    font-weight: 100;
}

.new-project-input ::-webkit-input-placeholder {
    font-size: 1em;
    font-family: $primary-font;
    font-weight: 100;
    color: white;
}

#steps .MuiSvgIcon-root {
    font-size: 1.2em;
}

.feature-highlight {
    position: relative;
}

// .feature-highlight-content:hover {
//     filter: blur(0.5rem);
//     cursor: pointer;
// }

.voting-overlay {
    background: rgba(255,255,255,0.95);
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index:2;
    cursor: pointer;
    opacity: 0;
}

.join__discord object {
    font-size: 36px !important;
    margin-top: -15px;
}

.voting-overlay:hover {
    opacity: 1;
}

.voting-overlay img {
    width: 33%;
    padding-top: 50%;
}


.use-case {
    font-family: $primary-font;
    min-height: 220px;
}

.use-case img {
    width: 100%;
    height: 250px;
}

.use-case-description {
    font-family: $primary-font;
    min-height: 120px;
    font-size: 1.25em;
    font-weight: 100;
}

.MuiOutlinedInput-root {
    font-family: $primary-font;
    width: 100% !important;
    border-radius: 2px;
}

.landing-title {
    font-family: $primary-font;
    font-size: 2.5em;
    font-weight: 600;
    color: $darkPaper;
}

.landing-title-white {
    font-family: $primary-font;
    font-size: 2.5em;
    font-weight: 600;
    color: $darkPrimaryLight;
}

.landing-description-white {
    font-size: 2.5em;
    font-weight: 100;
    color: $darkPrimaryLight;
    font-style: italic;
}

.MuiTypography-root {
    font-family: $primary-font;
}

.MuiButton-root {
    font-family: $primary-font;
}

.paper-in {
    // background: #182a36;
}

.paper-blockchain {
    // background: $primaryMain;
    cursor: pointer;
}

.paper-blockchain-selected {
    background: $primaryMain;
}

.paper-blockchain-selected:hover {
    background: $primaryDark;
}

.paper-blockchain:hover {
    background: $primaryLight;
    cursor: pointer;
}

.backend-managed {
    background: url('https://s3.amazonaws.com/dappify.templates/9.jpg');
    background-size: 100%;
}

.backend-custom {
    background: url('https://s3.amazonaws.com/dappify.templates/3.jpg');
    background-size: 100%;
}

.landing-description {
    font-size: 1.5em;
    font-weight: 100;
}

.landing-cta {
    padding: 20px 35px;
    background-color: white;
    color: #333;
    font-size: 1.1em;
    font-weight: 600;
}

.landing-cta:hover {
    background-color: rgb(210, 235, 255);
}

.landing-dark {
    width: 110%;
    min-width: 2000px;
    position: absolute;
    z-index: -1;
    top: - 100px;
}

.banner-background {
    background: rgb(33,150,243);
    background: radial-gradient(circle, rgba(33,150,243,1) 0%, rgba(103,58,183,1) 100%);
    background-size: 200% 200%;
        -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
    height: 1000px;
    width: 100%;
    position: absolute;
    transform: skewY(-8deg);
    top: - 450px;
    z-index: -1;
}

.Input-notchedOutline {
    border-radius: 8px !important;
}

.MuiCard-root {
    border-color: $grey300;
}

.MuiOutlinedInput-notchedOutline {
    border-radius: 8px !important;
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.projects-banner {
    position: absolute;
    height: 500px;
    top: 0px;
    color: $primaryMain;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    height: 100%;
}

.block-picker {
    margin: 0 auto;
}